@model CRR.Models.Entidades.FastShiftData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FastShiftData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdWorkcenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdWorkcenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdVol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdVol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTargetQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTargetQty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
