@model CRR.Models.Entidades.Specs.Label

<style type="text/css">
    body {
        background: rgb(204,204,204);
        /*writing-mode: tb-rl;*/
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0cm;
    }

    page[size="Label"][layout="landscape"] {
            width: 6.1in;
            height: 6in;
        }

    .title {
        text-align: left;
        font-weight: bold;
        font-size: 10px;
    }

    .body {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }

    @@media print {
        body, page {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 6.1in;
            height: 6in;
        }

        footer {
            visibility: hidden;
        }
    }
</style>

<page size="Label" layout="landscape">
    <body onload="window.print();">
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <!-- Header-->
                <table class="table-bordered">
                    <tr>
                        <td colspan="3" class="title">NUMERO DE LOTE</td>
                        <td colspan="3" class="title">NUMERO CONSECUTIVO</td>
                        <td colspan="2" class="title">CENTRO DE MANUFACTURA</td>
                    </tr>
                    <tr>
                        <td class="body" colspan="3">@Html.DisplayFor(model => model.Lot)</td>
                        <td class="body" colspan="3">@Html.DisplayFor(model => model.Consecutive)</td>
                        <td rowspan="3" colspan="2" class="body">@Html.DisplayFor(model => model.ManufacturingCenter)</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">FECHA DE PRODUCION</td>
                        <td colspan="3" class="title">FECHA DE EXPIRACION</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="body">@Html.DisplayFor(model => model.ProductionDate)</td>
                        <td colspan="3" class="body">@Html.DisplayFor(model => model.ExpirationDate)</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="title">CODIGO DEL PRODUCTO</td>
                        <td colspan="4" class="body">@Html.DisplayFor(model => model.BrandDescription)</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="body" style="font-size: 50px">@Html.DisplayFor(model => model.ProductCode)</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="title">DESCRIPCION DEL PRODUCTO</td>
                        @{var description = Model.ProductDescription.Split(' ');}
                        <td colspan="4" class="body">
                            <span class="pull-left">@description[0]</span>
                            <span style="font-size:25px;">@description[1]</span>
                            <span class="pull-right">@description[2]</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="body" colspan="8">@Html.DisplayFor(model => model.LabelNumber)</td>
                    </tr>
                    <tr>
                        <td class="title">FLASH POINT</td>
                        <td class="title" colspan="2">PESO TOTAL (KG)</td>
                        <td class="title" colspan="2">CANTIDAD RS (KG)</td>
                        <td class="title">BANCO DE EXTRACCION</td>
                        <td class="title">MODULO DE EXTRACCION</td>
                        <td class="title">NOMBRE DEL OPERADOR</td>
                    </tr>
                    <tr>
                        <td class="body">@Html.DisplayFor(model => model.FlashPoint)</td>
                        <td class="body" colspan="2">@Html.DisplayFor(model => model.Weight) Kg</td>
                        <td class="body" colspan="2" style="font-size: 20px">@Html.DisplayFor(model => model.Quantity) Kg</td>
                        <td class="body">@Html.DisplayFor(model => model.ExtractionBank)</td>
                        <td class="body">@Html.DisplayFor(model => model.ExtractionModule)</td>
                        <td class="body">@Html.DisplayFor(model => model.Operator)</td>
                    </tr>
                </table>
                <!-- ./Footer-->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </body>
</page>